In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('redfin_usa_properties_dataset_sample.csv')

In [3]:
df.head()

,url,name,price,formatted_price,currency,address,locality,region,postal_code,country,...,longitude,description,baths,beds,sqft,property_details,images,listed_by,uniq_id,scraped_at
0,https://www.redfin.com/SC/EASTOVER/HICKORY-HIL...,Hickory Hill Rd,40000.0,"$40,000",USD,Hickory Hill Rd,Eastover,SC,29044,US,...,-80.681014,This 4.13 ac of wooded land is ready for you b...,-,NaN,-,"[{'Status': 'Active'}, {'Time on Redfin': '230...",NaN,Listed by Glen Levine • Keller Williams Columbia,efb7c6cf-dbb1-5e4e-9028-32bc46800252,17/04/2022 21:21:33
1,https://www.redfin.com/NY/Flushing/147-35-38th...,147-35 38th Ave Unit B37,415000.0,"$415,000",USD,147-35 38th Ave Unit B37,Flushing,NY,11354,US,...,-73.817481,Large and Sunny Two Bedroom Coop Apartment in ...,1,2.0,-,"[{'Status': 'Active'}, {'Time on Redfin': '201...",https://ssl.cdn-redfin.com/photo/269/mbpaddedw...,Listing by Nadine Persaud • All Area Brokerag...,e10a3655-1719-57e7-8d9d-984c82584c73,17/04/2022 21:21:34
2,https://www.redfin.com/TX/Unknown/1024-Indigo-...,1024 Indigo Sky St,240950.0,"$240,950",USD,1024 Indigo Sky St,El Paso,TX,79928,US,...,-106.206967,"The Myrtle by Saratoga Homes. A 1 Story, 4 Bed...",3,4.0,"1,687","[{'Status': 'Pending'}, {'Time on Redfin': '13...",https://ssl.cdn-redfin.com/photo/183/mbpaddedw...,Listed by Octavio Duarte •TREC #0616335 • SITE...,fbadbf86-3ee5-5100-a163-2acd162c43e5,17/04/2022 21:21:34
3,https://www.redfin.com/OR/Redmond/3439-NW-9th-...,3439 NW 9th St,466995.0,"$466,995",USD,3439 NW 9th St,Redmond,OR,97756,US,...,-121.178761,"At 1979 square feet, the Orchard Encore on lot...",2,4.0,"1,979","[{'Status': 'Pending'}, {'Time on Redfin': '12...",https://ssl.cdn-redfin.com/photo/199/mbpaddedw...,Listed by Lexxye Haggard • New Home Star Oreg...,ba379e0c-5517-56a5-bd93-6e9620577ebc,17/04/2022 21:21:35
4,https://www.redfin.com/IL/Chicago/1545-N-Larra...,1545 N Larrabee St Unit 2N,489900.0,"$489,900",USD,1545 N Larrabee St Unit 2N,Chicago,IL,60610,US,...,-87.643162,Spacious Two Bedroom Condo residing in an Inti...,2,2.0,"1,550","[{'Status': 'Active'}, {'Time on Redfin': '17 ...",https://ssl.cdn-redfin.com/photo/68/mbpaddedwi...,Listed by Kieran Conlon • Compass,c22132b1-1809-5428-bd6c-59de7edf3dff,17/04/2022 21:21:35

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   url               39 non-null     object
 1   name              39 non-null     object
 2   price             38 non-null     float64
 3   formatted_price   37 non-null     object
 4   currency          39 non-null     object
 5   address           39 non-null     object
 6   locality          39 non-null     object
 7   region            39 non-null     object
 8   postal_code       39 non-null     int64
 9   country           39 non-null     object
 10  latitude          36 non-null     float64
 11  longitude         36 non-null     float64
 12  description       38 non-null     object
 13  baths             39 non-null     object
 14  beds              30 non-null     float64
 15  sqft              39 non-null     object
 16  property_details  39 non-null     object
 17  images            28 non-null     object
 18  listed_by         37 non-null     object
 19  uniq_id           39 non-null     object
 20  scraped_at        39 non-null     object
dtypes: float64(4), int64(1), object(16)
memory usage: 4.0+ KB

In [5]:
df.isna().sum()

url                  0
name                 0
price                1
formatted_price      2
currency             0
address              0
locality             0
region               0
postal_code          0
country              0
latitude             3
longitude            3
description          1
baths                0
beds                 9
sqft                 0
property_details     0
images              11
listed_by            2
uniq_id              0
scraped_at           0
dtype: int64

In [6]:
df.drop(columns='images', inplace=True)

In [7]:
df.isna().sum()

url                 0
name                0
price               1
formatted_price     2
currency            0
address             0
locality            0
region              0
postal_code         0
country             0
latitude            3
longitude           3
description         1
baths               0
beds                9
sqft                0
property_details    0
listed_by           2
uniq_id             0
scraped_at          0
dtype: int64

In [8]:
df.fillna(0, inplace=True)

In [9]:
df.isna().sum()

url                 0
name                0
price               0
formatted_price     0
currency            0
address             0
locality            0
region              0
postal_code         0
country             0
latitude            0
longitude           0
description         0
baths               0
beds                0
sqft                0
property_details    0
listed_by           0
uniq_id             0
scraped_at          0
dtype: int64

In [10]:
df['region'].value_counts()

AL    3
TX    3
OR    3
PA    3
NY    3
SC    2
AR    2
KY    2
WI    2
OH    2
CA    2
DE    1
MA    1
MD    1
GA    1
CO    1
TN    1
AZ    1
MO    1
IL    1
MI    1
MN    1
VA    1
Name: region, dtype: int64

In [17]:
state = await input("Please pick a state to Analyze: ")

Please pick a state to Analyze:  TX

In [13]:
baths = await input(" How many baths are you looking for: ")

 How many baths are you looking for:  3

In [18]:
df_filtered=df[df['region']==state]

In [19]:
df_filtered=df_filtered[df_filtered['baths']==baths]

In [20]:
df_filtered

,url,name,price,formatted_price,currency,address,locality,region,postal_code,country,latitude,longitude,description,baths,beds,sqft,property_details,listed_by,uniq_id,scraped_at
2,https://www.redfin.com/TX/Unknown/1024-Indigo-...,1024 Indigo Sky St,240950.0,"$240,950",USD,1024 Indigo Sky St,El Paso,TX,79928,US,31.714074,-106.206967,"The Myrtle by Saratoga Homes. A 1 Story, 4 Bed...",3,4.0,"1,687","[{'Status': 'Pending'}, {'Time on Redfin': '13...",Listed by Octavio Duarte •TREC #0616335 • SITE...,fbadbf86-3ee5-5100-a163-2acd162c43e5,17/04/2022 21:21:34
32,https://www.redfin.com/TX/Conroe/11217-Triple-...,11217 Triple Crown Way,657700.0,"$657,700",USD,11217 Triple Crown Way,Conroe,TX,77304,US,30.292768,-95.546425,Beautiful Country Home on over 1 Acre with Pon...,3,4.0,"3,189","[{'Status': 'Pending'}, {'Time on Redfin': '45...",Listed by Faline Windell •TREC #0463772 • Page...,a8a012e9-3609-5b96-8e6c-b725278efba7,17/04/2022 21:21:44

In [ ]:
df['Region