## Checking to see if I can filiter through a list to check for ints and str using just python

In [46]:
animals = ['cat','dog','cat','mouse']

In [47]:
print(animals[1])

dog

In [48]:
userpick = await input('Please pick an animal:')

Please pick an animal: cat

In [49]:
print(userpick)
userpick=str(userpick)

cat

In [50]:
if userpick in animals:
    print('It\'s in the list ')
elif userpick not in animals:
    print('no bueno')

print(userpick)

It's in the list
cat

In [51]:
type((userpick))

str

In [52]:
'cat' in animals

True

In [123]:
#Await input must be used on the this version of juypter for some reason. Normally it would just be input
use = await input("Pick a numb")
use=int(use)

Pick a numb 2

In [55]:
type(use)

int

In [56]:
numbs =[1,2,3]

if use in numbs:
    print('You got it')
else:
    print('Your cooked')

You got it

In [57]:
print(use)

2

## Creating a dataframe to practice filiter throuh data. Initally used python but it's much easier to use just Pandas

In [61]:
db= [[45,54,56,45,64,76],['TX','NC','FL','NC','CA']]
print(type(db))

<class 'list'>

In [62]:
import pandas as pd

In [63]:
df=pd.DataFrame(db)

In [64]:
print(df)

    0   1   2   3   4     5
0  45  54  56  45  64  76.0
1  TX  NC  FL  NC  CA   NaN

In [120]:
df.head()

    0   1
0  45  TX
1  54  NC
2  56  FL
3  45  NC
4  64  CA

In [119]:
df=df.transpose()

In [109]:
#Dropped Na values 
df.dropna(inplace=True)

In [110]:
df

    0   1   2   3   4
0  45  54  56  45  64
1  TX  NC  FL  NC  CA

In [111]:
#Checking placement of vales and type
list1=df[1]

In [112]:
list1

0    54
1    NC
Name: 1, dtype: object

In [113]:
type(list1)

pandas.core.series.Series

In [114]:
#Testing to enusre each item in list is being iterated through.
count=0
for word in list1:
    count+=1
    print(word, count)

54 1
NC 2

In [115]:
#User input must use 'await' in juypter
state= await input('Please pick a state: ')

Please pick a state:  NC

In [101]:
#Needed to convert series to a list in order for loop to pick it up
list1=list(list1)

In [102]:
if state in list1:
    print('Congrats you picked: '+state)
else:
    print('NO data on state')

Congrats you picked: TX

In [91]:
print(state)
print(type(state))

TX
<class 'str'>

In [92]:
print(list1[0])
print(type(list1[0]))

TX
<class 'str'>

In [88]:
state in list1

False

In [96]:
len(state)

2

In [97]:
len(list1[0])

2

In [103]:
print(list1)

['TX', 'NC', 'FL', 'NC', 'CA']

In [121]:
#Cleanest way to filter dataframe with user input variable
df_filter=df[df[1]==state]

In [122]:
df_filter

    0   1
1  54  NC
3  45  NC